In [1]:
import pandas as pd
from sklearn.datasets import load_boston

# サンプルデータの読み込み

In [15]:
# インスタンスの生成
boston = load_boston()

# 特徴量をデータフレームに格納
df = pd.DataFrame(boston.data, columns=boston.feature_names) 

# 列名一覧を表示
print('列名一覧：', format(df.columns.values))

# データフレームを表示
display(df)

列名一覧： ['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

# 特定文字列を含む列名を取得

In [11]:
# 対象となる文字列
character = 'N'

# 対象文字列を含む列名を取得
column_inc_specific_char = [column for column in df.columns if character in column]

# 取得した列名の表示
print("取得した列名：", format(column_inc_specific_char))

# 取得した列名のみのデータフレームの表示
display(df[column_inc_specific_char])

取得した列名： ['ZN', 'INDUS', 'NOX']

       ZN  INDUS    NOX
0    18.0   2.31  0.538
1     0.0   7.07  0.469
2     0.0   7.07  0.469
3     0.0   2.18  0.458
4     0.0   2.18  0.458
..    ...    ...    ...
501   0.0  11.93  0.573
502   0.0  11.93  0.573
503   0.0  11.93  0.573
504   0.0  11.93  0.573
505   0.0  11.93  0.573

[506 rows x 3 columns]

# 特定文字列を含まない列名を取得

In [10]:
# 対象となる文字列
character = 'N'

# 対象文字列を含まない列名を取得
column_not_inc_specific_char = [column for column in df.columns if character not in column]

# 取得した列名の表示
print("取得した列名：", format(column_not_inc_specific_char))

# 取得した列名のみのデータフレームの表示
display(df[column_not_inc_specific_char])

取得した列名： ['CRIM', 'CHAS', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']

        CRIM  CHAS     RM   AGE     DIS  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632   0.0  6.575  65.2  4.0900  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0  6.421  78.9  4.9671  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0  7.185  61.1  4.9671  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0  6.998  45.8  6.0622  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0  7.147  54.2  6.0622  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...     ...  ...    ...      ...     ...    ...
501  0.06263   0.0  6.593  69.1  2.4786  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  6.120  76.7  2.2875  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  6.976  91.0  2.1675  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  6.794  89.3  2.3889  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  6.030  80.8  2.5050  1.0  273.0     21.0  396.90   7.88

[506 rows x 10 columns]